#main {
    position: relative;
    background-image: url('pics/dbg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    height: 100svh;
    background-size: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainBox {
    position: absolute;
    font-size: 2rem;
    background: var(--colorPanel);
    color: var(--colorText);
    padding: 2rem;
    border-radius: 16px;
    top: 10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.downloadName {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.downloadName img {
    height: 2rem;
}

.downloadGrid {
    display: flex;
    gap: 10vw;
    gap: 10svw;
    align-items: center;
    justify-content: center;
}

.downloadEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qrCode {
    padding: 1rem;
    border-radius: 4vw;
    border-radius: 4svw;
    height: auto;
    width: 30vw;
    width: 30svw;
}

