#main {
    background-image: url('pics/mbg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    height: 100svh;
    background-size: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainText {
    font-size: 2rem;
    background: var(--colorPanel);
    color: var(--colorText);
    padding: 2rem;
    border-radius: 8px;
}

.infoGrid {
    display: grid;
    gap: 128px 64px;
    padding: 64px;
    grid-template-areas:
        "info1 info2"
        "info3 info4"
        "info6 info5"
        "info7 info8";
    grid-template-columns: 1fr 1fr;
    background: var(--colorBackground);
    color: var(--colorText);
    border-top: 2px solid var(--colorSpec);
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
}

.info1 {
    grid-area: info1;
}

.info2 {
    grid-area: info2;
}

.info3 {
    grid-area: info3;
}

.info4 {
    grid-area: info4;
}

.info5 {
    grid-area: info5;
}

.info6 {
    grid-area: info6;
}

.info7 {
    grid-area: info7;
}

.info8 {
    grid-area: info8;
}

.info4 ul{
    position: relative;
    left: 1rem;
}

.infoImg {
    width: 25vw;
}

.downloadName {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--colorText);
}

.downloadName img {
    height: 2rem;
}

.downloadGrid {
    display: flex;
    gap: 10vw;
    gap: 10svw;
    align-items: center;
    justify-content: center;
}

.downloadEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qrCode {
    padding: 1rem;
    border-radius: 4vw;
    border-radius: 4svw;
    height: auto;
    width: 30vw;
    width: 30svw;
}

#mainBigPanel {
    top: 3rem;
    font-size: 1rem;
    background: var(--colorBackground);
    color: var(--colorText);
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#mainPanel {
    background: var(--colorPanel);
    color: var(--colorText);
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 16px;
    border: 2px solid var(--colorSpec);
    width: 80vw;
    width: 80svw;
}

.contactUsText {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--colorText);
}

#wrong {
    display: none;
    color:darkred;
}

#wrong.active {
    display: block;
}

#sent {
    display: none;
    color:darkgreen;
}

#sent.active {
    display: inline-block;
}

#detailsColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
}

#messageColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 16px;
}

#textBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 32px;
}

#formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

#message {
    resize: none;
    width: 100%;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    background: var(--colorBackground);
    color: var(--colorText);
    border: 1px solid var(--colorSpec);
    border-radius: 4px;
    padding: 4px;
}

@media screen and (max-width: 900px) {
    #main {
        font-size: 1rem;
        padding: 8px;
    }

    #mainPanel{
        padding: 8px;
        width: auto;
    }

    #textBox {
        flex-direction: column;
    }
}

@media screen and(max-aspect-ratio: 1/1) {
}